<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ElsaJump.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JordanTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F48F42B3200928FB0012621C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F48F42C9200929DB0012621C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F48F4319200936030012621C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4FCD35C1FF832F9009E9B3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
